*{
    margin: 0;
    padding: 0;
}
header{
    width: 90%;/* background-color: crimson; */margin: auto;padding: 50px 0;}
.logo{
width: 20%;
float: left;
}
nav{width: 56%;float: right;overflow: hidden;}
nav ul{
list-style: none;
overflow: hidden;
}
nav ul li{float: left;margin-left: 85px;color: #626262;font-size: 18px;text-transform: uppercase;}
.banner{
width: 90%;
margin: auto;
}
.banner img{
width: 100%;
}
.photodairy{
width: 80%;
margin: auto;
padding: 50px 0;
}
.photodairy h5{
color: #b4ad9e;
font-size: 14px;
text-transform: uppercase;
}
.photodairy h1{
color: #626262;
text-transform: capitalize;
font-size: 35px;
margin: 15px 0;
}
.photodairy p{
color: #626262;  
font-size: 16px; 
margin-bottom: 30px; 

}